body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #E9F1F3;
}

.quem-somos {
    background-color: #D2DDE1;
}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.parceiros {
    background-color: #31bafd;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-style: italic;
    font-weight: bold;
}

.bg-footer {
    background-color: black;
    color: white;
}

li {
    padding-right: 10px;
}

.title {
    color: #31bafd;
    font-style: italic;
    font-weight: bold;
}

